.btn {
  display: inline-block;
  min-width: 220px;
  padding: 16px 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  background-color: $blue;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: #669ec0;
  }

  &:active, &:focus {
    opacity: 0.8;
  }
}
