.main-nav {
  position: relative;

  &__toggle {
    position: absolute;
    padding: 0;
    top: 6px;
    right: 20px;
    width: 40px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    z-index: 11;
  }

  &--closed &__toggle::before {
    content: "";

    position: absolute;
    top: 10px;
    left: 10px;
    width: 23px;
    height: 4px;
    background-color: $blue;
    box-shadow: 0 8px 0 0 $blue, 0 16px 0 0 $blue;
    transition-duration: 0.3s;
    transition-timing-function: ease;
  }

  &--opened &__toggle {
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 20px;
      left: 10px;
      width: 24px;
      height: 4px;
      background-color: $white;
      transition-duration: 0.4s;
      transition-timing-function: ease-out;
    }

    &::before {
      transform: rotate(45deg);
      box-shadow: none;
    }

    &::after {
      transform: rotate(-45deg);
    }
    z-index: 11;
  }

  @media (max-width: 767px) {
    &--closed &__site-list {
      display: none;
    }
  }

  &__no-js &__toggle {
    display: none;
  }

  &--no-js &__site-list {
    display: block;
    z-index: 150;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__site-list {

  }

  &__site-item {
    padding: 8px 0;
    background-color: $blue;
    text-align: center;
    border-top: 1px solid #9ac2db;
    border-bottom: 1px solid #678fa8;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__site-link {
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    color: $white;
  }


  &__logo {
    text-align: center;
    z-index: 10;
  }

  &__logo-img {
    // display: none;
    // z-index: 100;
  }

  @media (min-width: $tablet-width) {
    &__toggle {
      display: none;
    }

    &__site-list {
      position: relative;
      // padding: 0 30px 0 50px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &__site-item {
      padding: 15px 0;
      // margin-right: 100px;
      background-color: $white;
      border: none;
      width: 160px;

      &:nth-child(3) {
        margin-left: 120px;
      }
    }

    &__site-link {
      font-size: 14px;
      line-height: 26px;
      color: $black;
    }

     &__logo-img {
      margin: auto;
      position: absolute;
      top: 28px; left: 0; bottom: 0; right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &__logo-img {
      top: 40px; left: 0; bottom: 0; right: 0;
      width: 188px;
      height: 96px;
    }
  }
}