.page-footer {
  background-color: $white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 28px;
  }

  &__hashtag {
    margin: 0 0 40px;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
  }

  &__social {
  }

  &__social-list {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin:  0 0 34px;
  }

  &__social-item {
    position: relative;
    width: 46px;
    height: 48px;
    background-color: $blue;

    &:hover {
      background-color: #669ec0;
    }

    &:active, &:focus {
      background-color: #669ec0;
      opacity: 0.8;
    }
  }

  &__social-link {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 0;
      height: 0;
    }

    &--tw::before {
      top: 16px;
      left: 14px;
      width: 17px;
      height: 14px;
      background-image: url("../img/svg/icon-twitter.svg");
    }

    &--fb::before {
      top: 14px;
      left: 18px;
      width: 9px;
      height: 18px;
      background-image: url("../img/svg/icon-facebook.svg");
    }

    &--yt::before {
      top: 16px;
      left: 14px;
      width: 20px;
      height: 14px;
      background-image: url("../img/svg/icon-youtube.svg");
    }
  }

  &__copyright-link {
    position: relative;
    padding: 6px 40px 10px 0;
    line-height: 26px;

    &:hover {
      fill: $blue;
      opacity: 0.6;
    }

    &:active, &:focus {
      fill: #b2b2b2;
      opacity: 0.6;
    }
  }

  &__copyright-img {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 27px;
    height: 34px;
  }

  @media (min-width: 525px) {
    &__wrapper {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 36px 20px;
    }

    &__hashtag {
      margin: 0;
    }

    &__social-list {
      margin: 0;
    }
  }

  @media (min-width: $tablet-width) {
    &__wrapper {
      padding: 36px 60px;
    }

    &__hashtag {
      margin: 0;
    }

    &__social-list {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    &__wrapper {
      padding: 36px 120px;
    }
  }
}