.reasons {
  // position: relative;

  &__item-title {
    background-color: $blue;
    padding: 60px 20px 40px;
    text-align: center;
    color: $white;

    &--grey {
      padding: 34px 20px 0px;
      background-color: $grey;
      color: $black;
    }

    // &::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   width: 100%;
    //   min-height: 26px;

    //   background-size: 100%;
    //   background-repeat: no-repeat;
    //   background-image: url("../img/bg-intro-triangle-mobile.svg");
    //   fill: $white;
    // }
  }

  &__title {
    margin: 0 0 14px;
    font-size: 18px;
    line-height: 26px;
  }

  &__title br {
    display: none;
  }

  &__number {
    position: relative;
    margin: 0 0 18px;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      left: 41%;
      width: 8px;
      height: 1px;
      background-color: $white;
    }

    &::after {
      position: absolute;
      content: "";
      top: 50%;
      right: 41%;
      width: 8px;
      height: 1px;
      background-color: $white;
    }

    &--black {
      &::after, &::before {
        background-color: $black;
      }
    }
  }

  &__descr {
    margin: 0;

    &--border {
      padding: 0 0 20px;
      border-bottom: 2px solid $dark-grey;
    }
  }

  &__image-wrapper {
    height: 260px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../img/photo-city.jpg");

    &--bridge {
      background-image: url("../img/photo-bridge.jpg");
    }
  }

  &__list {
    padding: 38px 20px 36px;
  }

  &__list-item {
    margin: 0 0 20px 0;

    &:last-child {
      margin: 0;
    }
  }

  &__list-item-title {
    position: relative;
    padding: 13px 50px;
    margin: 0;

    color: $black;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 39px;
      height: 37px;
    }

    &--house {
      &::before {
        background-image: url("../img/icon-house.svg");
      }
    }

    &--gift {
      &::before {
        left: 3px;
        width: 32px;
        height: 38px;
        background-image: url("../img/icon-gift.svg");
      }
    }

    &--burger {
      &::before {
        top: 6px;
        width: 39px;
        height: 35px;
        background-image: url("../img/icon-burger.svg");
      }
    }
  }

  &__list-item-descr {
    padding: 0 0 0 50px;
    margin: 0;
    color: $black;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    // flex-direction: row;
    flex-wrap: wrap;
    min-width: $tablet-width;

    &__item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      &--reverse {
        flex-direction: row-reverse;
      }

      &--short {
        width: 33.3%;
      }
    }

    &__item-title {
      padding: 46px 0 46px;
      margin: 0;
      width: 33%;
      background-color: $blue;
      text-align: center;
      color: $white;

      &--grey {
        padding: 46px 46px 46px;
        background-color: $grey;
        color: $black;
        width: 100%;
      }
    }

    &__number {
      &--black {
        &::after {
          right: 34%;
        }
        &::before {
          left: 34%;
        }
      }
    }

    &__image-wrapper {
      width: 67%;
    }

    &__title {
      font-size: 21px;
      line-height: 26px;
    }

    &__title br {
      display: block;
    }

    &__descr {
      padding: 0 46px;

      &--border {
        padding: 0;
        border: none;
      }
    }

    &__list {
      padding: 50px 0 60px;
      display: flex;
      flex-wrap: wrap;
    }

    &__list-item {
      margin: 0;
      width: 33%;
      text-align: center;

      &:nth-child(1) {
        order: 1;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 2;
      }
    }

    &__list-item-title {
      padding: 0;
      margin: 0 0 14px;

      color: $black;

      &::before {
        position: static;
        top: 0;
        left: 0;
        width: 75px;
        height: 72px;
      }

      &--house {
        &::before {
          margin: 0 auto 16px;
        }
      }

      &--gift {
        &::before {
          margin: 0 auto 13px;
          width: 63px;
          height: 75px;
        }
      }

      &--burger {
        &::before {
          margin: 0 auto 20px;
          left: 80px;
          width: 76px;
          height: 68px;
        }
      }
    }

    &__list-item-descr {
      padding: 0 44px;
      margin: 0;
      color: $black;
    }
  }

  @media (min-width: $desktop-width) {
    &__item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      &--reverse {
        flex-direction: row-reverse;
      }

      &--short {
        width: 33.3%;
      }
    }

    &__item-title {
      padding: 50px 0 60px;
      margin: 0;
      width: 33%;
      background-color: $blue;
      text-align: center;
      color: $white;

      &--grey {
        padding: 50px 46px 68px;
        background-color: $grey;
        color: $black;
        width: 100%;
      }
    }

    &__number {
      &--black {
        &::after {
          right: 41%;
        }
        &::before {
          left: 41%;
        }
      }
    }

    &__list {
      padding: 60px 0 86px;
    }

    &__list-item-title {
      margin: 0 0 24px;

      &--house {
        &::before {
          margin: 0 auto 26px;
        }
      }

      &--gift {
        &::before {
          margin: 0 auto 23px;
        }
      }

      &--burger {
        &::before {
          margin: 0 auto 30px;
        }
      }
    }
  }
}