.feedback {
  margin: 0 auto;
  padding: 30px 0 0;
  text-align: center;

  &__title {
    margin: 0 0 28px;
    font-size: 21px;
    line-height: 28px;
  }

  &__descr {
    padding: 0 20px;
    margin: 0 0 38px;
    line-height: 24px;
  }

  &__btn-search {
    margin: 0 0 50px;
  }

  &__map iframe{
    height: 350px;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 56px 0 0;

    &__title {
      margin: 0 0 34px;
      font-size: 30px;
      line-height: 26px;
    }

    &__descr {
      padding: 0 24%;
      margin: 0 0 48px;
    }

    &__btn-search {
      margin: 0 0 58px;
      width: 458px;
    }

    &__map iframe{
      min-width: $tablet-width;
      height: 350px;
    }
  }

  @media (min-width: $desktop-width) {
    &__map iframe{
      width: 1200px;
    }

    &__descr {
      padding: 0 30%;
    }
  }
}