.video {
  padding: 40px 0;
  text-align: center;

  &__title {
    margin: 0 0 34px;
    font-size: 18px;
    line-height: 26px;
  }

  &__descr {
    margin: 0 0 38px;
    padding: 0 20px;
    line-height: 24px;
  }

  &__img {
    display: block;
  }

  &__player {
    display: block;
    margin: -46px auto 0;
    padding: 0 20px;
    min-width: 280px;

    &--tablet {
      display: none;
    }
  }

  &__slider {
    position: relative;
    padding: 22px 20px;
    background: rgba(0 ,0, 0, 0.3);

    &::before {
      position: absolute;
      content: "";
      width: 10px;
      top: 42%;
      left: 30%;
      height: 10px;
      border-radius: 50%;
      background-color: $white;
    }
  }

  &__slider hr {
    margin: 0;
    color: #53553d;
  }

  &__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 10px 20px;
    background-color: #f2f2f2;
  }

  &__btn {
    position: relative;
    display: block;
    width: 40px;
    height: 40px;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;

    &--replay {
      margin-right: 44%;

      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 10px;
        width: 16px;
        height: 20px;
        background-image: url("../img/svg/icon-video-replay.svg");
      }
    }

    &--cc {
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        left: 5px;
        width: 32px;
        height: 20px;
        background-image: url("../img/svg/icon-subtitle.svg");
      }
    }

    &--fullscreen {
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        background-image: url("../img/svg/icon-fullscreen.svg");
      }
    }

    &:hover {
      opacity: 0.6;
    }

    &:active, &:focus {
      opacity: 0.3;
    }
  }

  // &__btn {
  //   position: absolute;
  //   top: 20%;
  //   display: block;
  //   background-color: inherit;
  //   border: none;
  //   outline: none;
  //   cursor: pointer;

  //   &:hover {
  //     opacity: 0.6;
  //   }

  //   &:active, &:focus {
  //     opacity: 0.3;
  //   }

  //   &--tablet {
  //     display: none;
  //   }

  //   &--replay {
  //     width: 16px;
  //     height: 20px;
  //     background-image: url("../img/svg/icon-video-replay.svg");
  //   }

  //   &--cc {
  //     right: 16%;
  //     width: 32px;
  //     height: 20px;
  //     background-image: url("../img/svg/icon-subtitle.svg");
  //   }

  //   &--fullscreen {
  //     right: 6%;
  //     width: 20px;
  //     height: 20px;
  //     background-image: url("../img/svg/icon-fullscreen.svg");
  //   }
  // }

  // &__btn-icon {
  //   position: absolute;
  //   fill: #5c6870;

  //   &:hover {
  //     fill: #3f3f3f;
  //   }

  //   &:active, &:focus {
  //     fill: #3f3f3f;
  //     opacity: 0.3;
  //   }

  //   &--replay {

  //     top: 6px;
  //     left: 7px;
  //     width: 16px;
  //     height: 20px;
  //   }

  //   &--cc {

  //     top: 6px;
  //     left: 6px;
  //     width: 32px;
  //     height: 20px;
  //   }

  //   &--fullscreen {
  //     top: 6px;
  //     left: 6px;
  //     width: 20px;
  //     height: 20px;
  //   }
  // }

  @media (min-width: $tablet-width) {
    padding: 0 8%;
    text-align: center;

    &__title {
      margin: 0 0 30px;
      font-size: 30px;
    }

    &__descr {
      margin: 0 0 74px;
      padding: 0 104px;
    }

    &__player {
      position: relative;
      margin: -90px 0 0 0;
      padding: 0;
      // background: rgba(0 ,0, 0, 0.3);
      z-index: 100;
    }

    &__controls {
      position: relative;
      max-width: 800px;
      padding: 25px 0;
      margin: 0 auto;
      background: rgba(0 ,0, 0, 0.3);
      transition: 0.5s;

      &:hover {
        background: rgba(0 ,0, 0, 0.6);
        transition: 0.5s;
      }

      &::before {
        content: "";
        position: absolute;
        width: 60%;
        left: 14%;
        height: 3px;
        background: rgba(255, 255, 255, 0.3);
        top: 50%;
      }

      &::after {
        content: "";
        position: absolute;
        top: 47%;
        left: 30%;
        width: 10px;
        height: 10px;
        background-color: $white;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    &__controls:hover::after,
    &__controls:hover::before {
      opacity: 0.6;
    }

    &__controls:active::after,
    &__controls:focus::after,
    &__controls:active::before,
    &__controls:focus::before {
      opacity: 0.2;
    }

    &__btn {
      &--replay {
        margin: 0 66% 0 23px;

        &::before {
          background-image: url("../img/svg/icon-video-replay-white.svg");
        }
      }

      &--cc {
        &::before {
          background-image: url("../img/svg/icon-subtitle-white.svg");
        }
      }

      &--fullscreen {
        margin-right: 30px;
        &::before {
          background-image: url("../img/svg/icon-fullscreen-white.svg");
        }
      }
    }

    &__btn-icon {
      fill: #ffffff;
      transition: 0.3s;

      &:hover {
        fill: #ffffff;
        opacity: 0.6;
      }

      &:active, &:focus {
        fill: #ffffff;
        opacity: 0.2;
      }
    }

    &__img {
      margin: 0 auto;
      max-width: 800px;
      max-height: 500px;
    }

    &__slider {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 200px 84px;

    &__descr {
      margin: 0 0 74px;
      padding: 0;
    }

    &__img {
      margin: 0 auto;
      width: 800px;
    }

    // &__player {
    //   // position: relative;
    //   display: block;
    //   margin: -92px auto 0 auto;
    //   padding: 0;
    //   width: 800px;
    // }
  }
}
