.btn {
  display: inline-block;
  min-width: 220px;
  padding: 16px 30px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: $white;
  text-align: center;
  text-transform: uppercase;
  background-color: $blue;
  outline: none;
  cursor: pointer;

  &:hover {
    background-color: $text-descr;
    color: $white;
  }

  &:active, &:focus {
    background-color: $text-descr;
    color:rgba(255, 255, 255, 0.3)
  }
}
